<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/reset.css" />
  </head>
  <body>
    <div class="content">
      <div class="container" id="container3">
        <div class="chatbot_container1">
          <div class="chatbox_title">
            <img
              src="/static/images/Chatbox_icon.jpg"
              alt=""
              class="chatbox_logo"
            />
            <p class="chatbox_name">PLANTIX</p>
          </div>
          <div class="history_container">
            <img
              src="/static/images/History_icon.png"
              alt=""
              class="history_img"
            />
            <p class="history_icon">History</p>
          </div>
          <div class="SubmitAgain_container">
            <img
              src="/static/images/ScanImage.png"
              alt=""
              class="SubmitAgain_img"
            />
            <p class="SubmitAgain_title">Submit Again!</p>
          </div>
        </div>
        <div class="chatbot_container2">
          <div class="InfoHere_container">
            <div class="InfoHere" id="InfoHere1">
              <p class="InfoHere_title">Suggestion here!</p>
            </div>
            <div class="InfoHere" id="InfoHere2">
              <p class="InfoHere_title">Plantix's magic</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/app.js"></script>
  </body>
</html>
