<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Satisfy&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navigation & Introduce started -->

    <div class="Navigation-Introduce_wrap">
      <!-- Navigation container started -->
      <div class="Navigation_container">
        <div class="Navigation-button_container">
          <a href="./index.html">
            <div class="Navigation-button">
              <b>About</b>
            </div>
          </a>
          <a href="#Instruction">
            <div class="Navigation-button">
              <b>Instruction</b>
            </div>
          </a>
          <a href="/Chatbox/ChatBox.html" target="_blank">
            <div class="Navigation-button"><b>Magic</b></div>
          </a>
          <a href="#Footer">
            <div class="Navigation-button">
              <b>Contact</b>
            </div>
          </a>
        </div>

        <div class="Website-name">Plantix's magic</div>

        <div class="Navigation-SignIn_container">
          <a href="./SignIn.html">
            <div class="SignIn-button">
              <b>Sign In</b>
            </div>
          </a>
        </div>
      </div>
      <!-- Navigation container end -->

      <!-- Introduce started -->
      <div class="Introduce_wrap">
        <div class="Introduce_container">
          <div class="Introduce-content">
            <h1 class="Introduce-Heading">
              Optimize Your Harvests: Elevate Crop Quality and Yield!
            </h1>
            <p>
              Hien's and Van Anh's innovative website assists in identifying and
              managing plant pests, promoting effective plant protection and
              growth.
            </p>
          </div>
          <img src="/Images/IMG_3914 (1).PNG" alt="" class="Introduce-image" />
        </div>
        <div class="custom-shape-divider-bottom-1715692097">
          <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
              opacity=".25"
              class="shape-fill"
            ></path>
            <path
              d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
              opacity=".5"
              class="shape-fill"
            ></path>
            <path
              d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
              class="shape-fill"
            ></path>
          </svg>
        </div>
      </div>
      <!-- Introduce end -->
    </div>

    <!-- Navigation & Introduce end -->

    <!-- Body and content started-->
    <div class="Body-content_wrap">
      <!-- Instruction started -->
      <section id="Instruction">
        <div class="Instruction_wrap">
          <h1 class="Instruction-heading">HOW TO USE IT?</h1>
          <p class="Instruction-paragraph">
            Follow these steps to effectively utilize "Plantix's Magic": Read
            the instructions carefully, apply accordingly, and observe results
          </p>
          <div class="Instruction_container">
            <div class="Instruction-box">
              <img
                src="/Images/camera-viewfinder.png"
                alt=""
                class="Instruction-img"
              />
              <b class="Instruction-box-heading">Step 1</b>
              <p class="Instruction-box-paragraph">Take photos of your crops</p>
            </div>
            <div class="Instruction-box">
              <img src="/Images/add-image.png" alt="" class="Instruction-img" />
              <b class="Instruction-box-heading">Step 2</b>
              <p class="Instruction-box-paragraph">Upload your photos</p>
            </div>
            <div class="Instruction-box">
              <img
                src="/Images/microchip-ai (1).png"
                alt=""
                class="Instruction-img"
              />
              <b class="Instruction-box-heading-junior">Step 3</b>
              <p class="Instruction-box-paragraph">
                Let
                <b
                  class="Instruction-box-hightlight"
                  id="Instruction-box-hightlight-Plantix"
                  >Plantix
                </b>
                work its
                <b
                  class="Instruction-box-hightlight"
                  id="Instruction-box-hightlight-Magic"
                >
                  Magic
                </b>
              </p>
            </div>
            <div class="Instruction-box">
              <img src="/Images/wheat.png" alt="" class="Instruction-img" />
              <b class="Instruction-box-heading">Step 4</b>
              <p class="Instruction-box-paragraph">
                Sit tight and enjoy the results
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Instruction end -->

      <!-- Submit started -->
      <section id="Submit">
        <div class="Submit_wrap">
          <div class="Submit_container">
            <div class="Submit-article">
              <h1 class="Submit-heading">Upload a photo of your crops here!</h1>
              <p class="Submit-paragraph">
                Take as sharp a photo of your crops as possible. Our job is to
                analyze photos and identify pests. Your job is just to sit back
                and wait for the miracle to happen...
              </p>
            </div>
            <!-- Submit box started -->
            <div class="Submit-box_container">
              <header>Upload here</header>
              <form action="#">
                <input class="file-input" type="file" name="file" hidden />
                <i class="fas fa-cloud-upload-alt"></i>
                <p class="Submit-box-paragraph">Browse File to Upload</p>
              </form>
              <section class="progress-area"></section>
              <section class="uploaded-area"></section>
            </div>
            <!-- Submit box end -->
          </div>
        </div>
      </section>
      <!-- Submit end -->
    </div>
    <!-- Body and content end -->

    <!-- Footer started-->
    <section id="Footer">
      <div class="Footer_wrap">
        <div class="Footer-name">Plantix's magic</div>
        <div class="Footer-button_container">
          <div class="Footer-button">
            <b class="Footer-button-content">Home</b>
          </div>
          <div class="Footer-button">
            <b class="Footer-button-content">About</b>
          </div>
          <div class="Footer-button">
            <b class="Footer-button-content">Service</b>
          </div>
          <div class="Footer-button">
            <b class="Footer-button-content">Magic</b>
          </div>
        </div>
        <div class="Footer-contacts_container">
          <div class="Footer-button-contacts">
            <img
              src="/Images/Icon_facebook.png"
              alt=""
              class="Footer-button-icon"
            />
          </div>
          <div class="Footer-button-contacts">
            <img
              src="/Images/Icon_instagram.png"
              alt=""
              class="Footer-button-icon"
            />
          </div>
          <div class="Footer-button-contacts">
            <img
              src="/Images/Icon_twitter.png"
              alt=""
              class="Footer-button-icon"
            />
          </div>
          <div class="Footer-button-contacts">
            <img
              src="/Images/Icon_youtube.png"
              alt=""
              class="Footer-button-icon"
            />
          </div>
        </div>
        <div class="Footer-line"></div>
        <div class="Footer-made">Website by Hien</div>
      </div>
    </section>
    <!-- Footer end -->

    <script src=""></script>
  </body>
</html>
