<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/reset.css" />
  </head>
  <body>
    <!-- Content -->
    <div class="content">
      <div class="container" id="container1">
        <div class="container_background">
          <div class="content_container">
            <div class="content_container_title_container">
              <h1 class="content_container_title">Login now !</h1>
            </div>
            <p class="content_container_p">
              Introducing a revolutionary website dedicated to identifying plant
              pests, created by Hien and Van Anh. This platform offers
              comprehensive assistance in recognizing and dealing with harmful
              pests affecting plants. With expertise from the creators, users
              can effectively safeguard their plants and promote healthy growth.
            </p>
            <a href="#" class="content_container_button" style="--clr: #6eff3e"
              ><span class="content_container_button_span">Plantix's magic</span
              ><i></i
            ></a>
          </div>
          <div class="login_container">
            <!--ring div starts here-->
            <div class="ring">
              <i style="--clr: #00ff0a"></i>
              <i style="--clr: #ff0057"></i>
              <i style="--clr: #fffd44"></i>
              <div class="login">
                <h2>Login</h2>
                <div class="msg">{{ msg }}</div>
                <form action="{{ url_for('login') }}" method="post">
                  <div class="inputBx">
                    <input type="text" id="username" placeholder="Username" name="username" required>
                  </div>
                  <div class="inputBx">
                    <input type="password" id="password" placeholder="Password" name="password" required>
                  </div>
                  <div class="inputBx">
                    <input type="submit" id="submit" value="Sign in" />
                  </div>
                  <div class="links">
                    <a href="#" id="forgetPasswordLink">Forget Password</a>
                    <a href="{{ url_for('signup') }}" id="signUpLink">Sign Up</a>
                  </div>
                </form>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
                    {% endif %}
              </div>
            </div>
            <!--ring div ends here-->
          </div>
        </div>
      </div>
    </div>
    <script src="login.js"></script>
  </body>
</html>
